:root {
    --main-color: #e9a003;
    --body-bg: #181616;
    --box-bg: #221f1f;
    --text-color: #ffffff;
    --nav-height: 60px;
    --space-top: 30px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Cairo", sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    padding-top: var(--nav-height);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.section {
    flex: 1;
}


main {
    flex: 1;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    max-width: 100%;
}

.main-color {
    color: var(--main-color);
}

.container {
    max-width: 1920px;
    padding: 0 40px;
    margin: auto;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #000000;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    height: var(--nav-height);
}

.nav a {
    color: var(--text-color);
}

.logo {
    font-size: 2rem;
    font-weight: 900;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.nav-menu li~li {
    margin-left: 30px;
}

.nav-menu a {
    text-transform: uppercase;
    font-weight: 700;
}

.nav-menu a:hover {
    color: var(--main-color);
}

.nav-menu a.btn:hover,
a.logo:hover,
a.movie-item:hover {
    color: unset;
}

.lang-dropdown {
    z-index: 100;
    position: relative;
    cursor: pointer;
    font-weight: 600;
}

.lang-selected {
    display: flex;
    align-items: center;
    gap: 5px;
}

.lang-selected i {
    font-size: 18px;
    cursor: pointer;
    user-select: none;
}

.lang-menu {
    position: absolute;
    top: 150%;
    right: 0;
    backdrop-filter: blur(12px);
    background: rgba(34, 31, 31, .85);
    border-radius: 8px;
    min-width: 160px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: .25s;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .6);
}

.lang-menu a {
    display: block;
    padding: 12px 16px;
    font-weight: 500;
}

.lang-menu a:hover {
    background: var(--main-color);
    color: #ffffff;
}

.lang-dropdown.active .lang-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.lang-item.active {
    background: var(--main-color);
}

.lang-selected img,
.lang-item img {
    width: 20px;
    border-radius: 3px;
}

.lang-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    cursor: pointer;
}

.lang-item:hover {
    background: var(--main-color);
}

.lang-selected {
    display: flex;
    align-items: center;
    gap: 8px;
}


.btn {
    color: #ffffff;
    padding: 0.25rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


.btn-hover::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
    transition: 0.3s ease-in-out;
}

.btn-hover:hover::before {
    width: 100%;
}

.btn i,
.btn span {
    z-index: 1;
}

.btn i {
    margin-right: 1rem;
}

.hamburger-menu {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    cursor: pointer;
    z-index: 101;
    position: relative;
    display: none;
    align-items: center;
}

.hamburger {
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: var(--size);
    height: 3px;
    border-radius: 0.5rem;
    background-color: var(--text-color);
    transition: 0.4s;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
}

.hamburger::before {
    top: -10px;
}

.hamburger::after {
    bottom: -10px;
}

.hamburger-menu.active .hamburger {
    background-color: transparent;
}

.hamburger-menu.active .hamburger::before {
    transform-origin: top left;
    transform: rotate(45deg);
    left: 6px;
}

.hamburger-menu.active .hamburger::after {
    transform-origin: bottom left;
    transform: rotate(-45deg);
    left: 6px;
}

.hero-slide-item {
    position: relative;
    height: 90vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-slide-item .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.9) 20%,
            rgba(0, 0, 0, 0.6) 50%,
            rgba(0, 0, 0, 0.2) 100%);
}

.hero-slide-item img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-slide-item-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    display: flex;
}

.item-content-wraper {
    padding-left: 5rem;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.item-content-wraper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.item-content-title {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 900;
}

.movie-infos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* margin-top: calc(var(--space-top) / 2); */
}

.movie-info {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
}

.movie-info span {
    margin-left: 5px;
}

.movie-info i {
    color: var(--main-color);
}

.movie-info~.movie-info {
    margin-left: 5px;
}

.movie-poster {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-radius: 12px;
    display: block;
}

.movie-item{
    width:100%;
}

.movie-item:hover img {
    transform: scale(1.05);
}

.movie-poster {
    transition: .3s ease;
}

#scroll-loader {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    color: var(--main-color);
    font-weight: 700;
    font-size: 22px;
    gap: 18px;
}

.loader-spinner {
    width: 42px;
    height: 42px;
    border: 4px solid rgba(255, 255, 255, .15);
    border-top: 4px solid var(--main-color);
    border-radius: 50%;
    animation: spin .7s linear infinite;
    box-shadow: 0 0 18px rgba(233, 160, 3, 0.127);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#movie-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

#movie-list .col-3 {
    padding: 0;
}

.movie-card {
    width: 100%;
}

.movie-card:hover {
    transform: translateY(-8px);
}


.no-more {
    opacity: .7;
    font-size: 16px;
}

.item-content-description {
    font-size: 1.15rem;
    margin-top: var(--space-top);
    line-height: 1.5rem;
}

.item-action {
    margin-top: var(--space-top);
}

.carousel-nav-center {
    position: relative;
}

.carousel-nav-center .owl-nav button i {
    font-size: 3rem;
}

.carousel-nav-center .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-nav-center .owl-nav .owl-prev {
    position: absolute;
    left: 5px;
}

.carousel-nav-center .owl-nav .owl-next {
    position: absolute;
    right: 5px;
}

.owl-nav button {
    border: none;
    outline: none;
}

.owl-nav button i {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}

.owl-nav button:hover i {
    color: var(--main-color);
}

.top-down {
    transform: translateY(-50px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.delay-2 {
    transition-delay: 0.2s;
}

.delay-4 {
    transition-delay: 0.4s;
}

.delay-6 {
    transition-delay: 0.6s;
}

.delay-8 {
    transition-delay: 0.8s;
}

.owl-item.active .top-down {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.movie-item {
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 140%;
    cursor: pointer;
}

.movie-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s linear;
}

.movie-item:hover img {
    transform: scale(1.2);
}

.movie-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
}

.movie-item-content::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.movie-item-title {
    color: var(--text-color);
    font-size: 1.2rem;
    position: relative;
    font-weight: 700;
}

.empty-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.empty-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.section {
    padding-top: 20px;
}

.section-header {
    margin-bottom: 30px;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 700;
    border-left: 4px solid var(--main-color);
    display: flex;
    align-items: center;
}

.pricing-header {
    margin-bottom: 30px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.pricing-box {
    padding: 50px;
    margin: 15px 0;
    background-color: var(--box-bg);
    border-top: 5px solid transparent;
    transition: transform 0.3s ease-in-out;
}

.pricing-box:hover {
    transform: translateY(-20px);
}

.pricing-box.hightlight {
    border-top: 5px solid var(--main-color);
}

.pricing-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

.pricing-price {
    font-weight: 700;
}

.pricing-price span {
    font-size: 1rem;
}

.pricing-box-content {
    text-align: center;
    margin-top: 60px;
    font-size: 1.25rem;
}

.pricing-box-action {
    text-align: center;
    margin-top: 60px;
}

.site-footer {
    margin-top: auto;
}

footer.section {
    margin-top: 20px;
    padding-bottom: 10px;
    position: relative;
    background-color: var(--box-bg);
}

footer a:hover {
    color: var(--main-color);
}

footer a.logo {
    margin-top: -2.5rem;
    display: block;
}

footer a.logo:hover {
    color: unset;
}

.social-list {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.social-item {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--text-color);
    color: var(--main-color);
}

.social-item:hover {
    background-color: var(--main-color);
    color: var(--text-color);
}

.social-item~.social-item {
    margin-left: 20px;
}

footer .content {
    margin-top: 20px;
}

.footer-menu {
    list-style-type: none;
}

.footer-menu a {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.footer-menu a:hover {
    transform: translateX(5px);
}

.copyright {
    padding: 10px;
    border-top: 1px solid var(--body-bg);
    background-color: var(--box-bg);
    text-align: center;
}

.login-page {
    flex: 1;
}

.search-box {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 70px;
}

.search-container {
    width: 600px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 6px;

    background: linear-gradient(145deg,
            #1c1a1a,
            #242121);

    box-shadow:
        0 20px 60px rgba(0, 0, 0, .8),
        inset 0 0 12px rgba(255, 255, 255, .02);

    transition: .35s;
}

.search-container:focus-within {
    transform: translateY(-2px);

    box-shadow:
        0 25px 70px rgba(0, 0, 0, .9),
        0 0 0 2px rgba(233, 160, 3, .15);
}

.search-input {
    flex: 1;
    padding: 18px 26px;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    background: transparent;
}

.search-input::placeholder {
    color: #777;
    letter-spacing: .4px;
}

.search-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 28px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    color: #000;
    background: linear-gradient(135deg,
            #e9a003,
            #ffb52e);
    box-shadow:
        0 8px 25px rgba(233, 160, 3, 0.223);

    transition: .25s;
}

.search-btn i {
    font-size: 20px;
}

.search-btn:hover {
    transform: translateY(-2px);
    box-shadow:
        0 12px 35px rgba(233, 160, 3, .5);
}

.search-btn:active {
    transform: scale(.96);
}

.empty-wrapper {
    min-height: calc(100vh - 220px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-favorite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 70px;
    border-radius: 24px;
    background: radial-gradient(circle at center,
            rgba(255, 255, 255, .05),
            transparent 70%);
}

.empty-favorite i {
    font-size: 90px;
    color: var(--main-color);

    animation: pulse 2s infinite;
}

.empty-favorite h2 {
    font-size: 40px;
    font-weight: 900;
}

.empty-favorite p {
    font-size: 18px;
    opacity: .7;
    line-height: 1.7;
}

.empty-favorite .btn {
    margin-top: 10px;
}

.favorite-grid{
    margin-top:20px;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(180px,1fr));
    gap:20px;
}


/* subtle animation */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }

    100% {
        transform: scale(1);
    }
}


/* RESPONSIVE */

@media only screen and (max-width: 1280px) {
    html {
        font-size: 14px;
    }

    .hero-slide-item {
        padding-top: 50%;
    }

    .item-content-wraper {
        width: 50%;
    }
}

@media only screen and (max-width: 850px) {
    html {
        font-size: 12px;
    }

    .container {
        padding: 0 15px;
    }

    .hero-slide-item {
        height:70vh;
        padding-top: unset;
    }

    .item-content-wraper {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
        padding-right: 5rem;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .hero-slide-item-content {
        position: relative;
    }

    .hero-slide-item img {
        height: 100%;
    }

    .item-content-title {
        font-size: 3rem;
    }

    .hamburger-menu {
        display: grid;
        margin-left: auto;
    }

    .logo{
        font-size: 1.6rem;
        white-space: nowrap;
    }

    .nav-menu {
        /* display: none; */
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: #000000;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        padding: 0 8px;
        transition: 0.3s ease-in-out;
    }

    .nav-menu li {
        margin: 10px 30px;
    }


    .nav-menu.active {
        left: 0;
    }

    .search-container {
        width: 100%;
    }

    .search-box {
        justify-content: center;
    }

    #movie-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:768px){

    .container{
        padding: 0 18px;
    }

    #movie-list{
        grid-template-columns: repeat(2, 1fr);
        gap:16px;
    }

    .favorite-grid{
        grid-template-columns: repeat(2,1fr);
        gap:16px;
    }

    .empty-favorite{
        padding:40px 20px;
    }

    .empty-favorite i{
        font-size:50px;
    }

    .empty-favorite h2{
        font-size:26px;
        line-height:1.3;
    }

    .empty-favorite p{
        font-size:12px;
    }

    .search-box {
        margin-bottom: 50px;
    }

    .search-container {
        height: 50px;
        padding: 6px;
    }

    .search-input {
        padding: 12px 22px;
        font-size: 16px;
    }

    .search-btn {
        padding: 10px 15px;
    }

    .loader-spinner {
        width: 22px;
        height: 22px;
    }

}


